* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_index {
    background-image: url(assets/moon-4k-full-moon-on-lake-k7hfq94wlhjknxe9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}